h1 {
  font-family: Serif;
  color: #C1A0A7;
  font-style: italic;
  text-decoration: underline;
  
}

h4 {
  margin-bottom: 0;
  font-family: Serif;
  color: #C1A0A7;
  font-size: 20px;
  font-style: italic;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Serif;
  font-size: 9px;
  font-style: italic;
}

body {
  background-color: #EEE2C6;
}

b {
  color: #808080;
}

mark {
  background-color: #808080;
}