h1 {
  font-family: Serif;
  color: #C1A0A7;
}

h4 {
  margin-bottom: 0;
  font-family: Serif;
  color: #C1A0A7;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: Serif;
  font-size: 9px;
  font-style: italic;
}

body {
  background-color: #EEE2C6;
}